<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
        <div class="form-group">
          <label for="project">Project</label>
          <input type="text" name="project" id="project" class="form-control" formControlName="project">
          <span
            *ngIf="projectForm.get('project').invalid &&
                  projectForm.get('project').touched">
                  <span *ngIf="projectForm.get('project').errors['forbiddenProjectName']">This project name is forbidden!</span>
                  <span *ngIf="projectForm.get('project').errors['required']">This field is required!</span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" formControlName="email">
          <span
            *ngIf="projectForm.get('email').invalid &&
                  projectForm.get('email').touched">This field is required!</span>
        </div>
        <div class="form-group">
          <label for="status">Project status</label>
          <select name="status" id="status" class="form-control" formControlName="status">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid || projectForm.pending">Submit</button>
      </form>
    </div>
  </div>
</div>
